/****************************************************************************
TABLEAU DE LA LISTE DES ADMINISTRATEURS
****************************************************************************/
#tableau_administrateurs{
    width: 100%;
    margin-top: 10px;
}

#tableau_administrateurs .col_checkbox{
    width: 3%;
}

#tableau_administrateurs .col_login{
    width: 22%;
}

#tableau_administrateurs .col_prenom{
    width: 17%;
}

#tableau_administrateurs .col_nom{
    width: 17%;
}

#tableau_administrateurs .col_role{
    width: 16%;
}

#tableau_administrateurs .col_liens{
    width: 25%;
}

#tableau_administrateurs tbody .col_liens{
    text-align: right;
}

#tableau_administrateurs tbody .col_liens a{
    color: #005587;
    text-decoration: none;
}

#tableau_administrateurs tbody .col_liens a:hover{
    color: #005587;
    text-decoration: underline;
}
/****************************************************************************
****************************************************************************/





/****************************************************************************
FORMULAIRE POUR LES ADMINISTRATEURS
****************************************************************************/
#tableau_form_administrateurs .col_input input[type='text']{
    width: 100%;
    margin: 5px 0;
}

#tableau_form_administrateurs input[type='submit']{
    margin-top: 10px;
    padding: 5px 20px;
    border: 1px solid #005587;
    background-color: #003250;
    border-radius: 5px;
    color: #FFFFFF;
}

#tableau_form_administrateurs input[type='submit']:hover{
    background-color: #004270;
}
/****************************************************************************
****************************************************************************/