/****************************************************************************
TABLEAU DE LA LISTE D'ARTICLES
****************************************************************************/
#tableau_articles{
    /*width: 100%;*/
    margin-top: 10px;
}

#tableau_articles .col_checkbox{
    width: 3%;
}

#tableau_articles .col_libelle{
    width: 40%;
}

#tableau_articles .col_reference{
    width: 18%;
}

#tableau_articles .col_categorie{
    width: 20%;
}

#tableau_articles .col_nombre{
    width: 5%;
    text-align: center;
}

#tableau_articles .col_liens_details{
    width: 14%;
}

#tableau_articles tbody .col_liens_details{
    text-align: right;
}

#tableau_articles tbody .col_liens_details a{
    color: #005587;
    text-decoration: none;
}

#tableau_articles tbody .col_liens_details a:hover{
    color: #005587;
    text-decoration: underline;
}
/****************************************************************************
****************************************************************************/




/****************************************************************************
POP IN D'ARTICLES
****************************************************************************/
.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: scroll;
}

#bloc_contenu .fade{
    background-color: rgba(0, 15, 30, 0.8);
}

#bloc_contenu .fade .modal-dialog{
    width: 80%;
}

#bloc_contenu .fade .modal-dialog .modal-header{
    text-align: center;
    font-weight: bold;
}

#bloc_contenu .fade .modal-dialog .modal-body #bloc_image{
    width: 30%;
    height: 200px;
    background-color: #EEEEEE;
    float: left;
}

#bloc_contenu .fade .modal-dialog .modal-body #bloc_descriptif{
    width: 68%;
    margin-left: 2%;
    float: left;
}

#bloc_contenu .fade .modal-dialog .modal-body #bloc_details{
    margin-top: 20px;
}
/****************************************************************************
****************************************************************************/





/****************************************************************************
FORMULAIRE POUR LES ARTICLES
****************************************************************************/
#tableau_form_articles .col_input input[type='text']{
    width: 100%;
    margin: 5px 0;
}

#tableau_form_articles .col_input select{
    width: 100%;
    height: 40px;
    margin: 5px 0;
}

#tableau_form_articles .col_label#label_descriptif{
    vertical-align: top;
    padding: 5px 0;
}

#tableau_form_articles .col_input textarea{
    width: 100%;
    height: 120px;
    resize: none;
    margin: 5px 0;
}

#tableau_form_articles input[type='submit']{
    margin-top: 10px;
    padding: 5px 20px;
    border: 1px solid #005587;
    background-color: #003250;
    border-radius: 5px;
    color: #FFFFFF;
}

#tableau_form_articles .separation{
    height: 20px;
}

#tableau_form_articles #label_caracteristiques{
    vertical-align: top;
    padding: 5px 0;
}

#tableau_form_articles #caracteristiques table{
    width: 100%;
}

#tableau_form_articles #caracteristiques .carac_label{
    width: 30%;
    padding: 0 5px 0 0;
}

#tableau_form_articles #caracteristiques .carac_input button{
    padding: 5px 10px;
    border: 1px solid #005587;
    background-color: #003250;
    border-radius: 5px;
    font-size: 10px;
    color: #FFFFFF;
}

#tableau_form_articles #caracteristiques .carac_input button:hover{
    background-color: #004270;
}

#tableau_form_articles #caracteristiques .carac_input{
    width: 70%;
    padding: 0 0 0 5px;
}

#tableau_form_articles input[type='submit']:hover{
    background-color: #004270;
}
/****************************************************************************
****************************************************************************/