/****************************************************************************
TABLEAU DE LA LISTE D'ARTICLES
****************************************************************************/
#tableau_articles{
    width: 100%;
}

#tableau_articles .col_checkbox{
    width: 3%;
}

#tableau_articles .col_libelle{
    width: 40%;
}

#tableau_articles .col_reference{
    width: 18%;
}

#tableau_articles .col_categorie{
    width: 20%;
}

#tableau_articles .col_nombre{
    width: 5%;
    text-align: center;
}

#tableau_articles .col_liens_details{
    width: 14%;
}

#tableau_articles tbody .col_liens_details{
    text-align: right;
}

#tableau_articles tbody .col_liens_details a{
    color: #005587;
    text-decoration: none;
}

#tableau_articles tbody .col_liens_details a:hover{
    color: #005587;
    text-decoration: underline;
}
/****************************************************************************
****************************************************************************/




/****************************************************************************
POP IN D'ARTICLES
****************************************************************************/
.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: scroll;
}

#bloc_contenu .fade{
    background-color: rgba(0, 15, 30, 0.8);
}

#bloc_contenu .fade .modal-dialog{
    width: 80%;
}

#bloc_contenu .fade .modal-dialog .modal-header{
    text-align: center;
    font-weight: bold;
}

#bloc_contenu .fade .modal-dialog .modal-body #bloc_image{
    width: 30%;
    height: 200px;
    background-color: #EEEEEE;
    float: left;
}

#bloc_contenu .fade .modal-dialog .modal-body #bloc_descriptif{
    width: 68%;
    margin-left: 2%;
    float: left;
}

#bloc_contenu .fade .modal-dialog .modal-body #bloc_details{
    margin-top: 20px;
}
/****************************************************************************
****************************************************************************/





/****************************************************************************
FORMULAIRE POUR LES ARTICLES
****************************************************************************/

/****************************************************************************
****************************************************************************/