/*********************************************************************************
STYLE GENERAL
*********************************************************************************/
*{
    padding:0;
    margin:0;
}

body{
    width: 100%;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#menu{
    float:left;
}

.center{
    width:62em;
    margin:0 auto;
}

.clear{
    clear:both;
}

#bloc_contenu{
    width: 1200px;
    margin: 0 auto;
    padding-left: 1.5%;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and (max-width: 1200px) {
    #bloc_contenu{
        width: 100%;
    }
}

.btn_base{
    padding: 10px 15px;
    border-radius: 5px;
    background: #8f0222; /* Old browsers */
    background: -moz-linear-gradient(top,  #8f0222 12%, #530214 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#8f0222), color-stop(100%,#530214)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8f0222 12%,#530214 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8f0222 12%,#530214 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8f0222 12%,#530214 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8f0222 12%,#530214 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0222', endColorstr='#530214',GradientType=0 ); /* IE6-9 */
    color: #FFFFFF;
    text-decoration: none;
}

.btn_base:hover{
    background: #9f1232; /* Old browsers */
    background: -moz-linear-gradient(top,  #9f1232 12%, #631224 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#9f1232), color-stop(100%,#631224)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9f1232 12%,#631224 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9f1232 12%,#631224 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9f1232 12%,#631224 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9f1232 12%,#631224 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f1232', endColorstr='#631224',GradientType=0 ); /* IE6-9 */
    color: #FFFFFF;
    text-decoration: none;
}
/*********************************************************************************
*********************************************************************************/





/*********************************************************************************
STYLE DU HEADER
*********************************************************************************/
header{
    width: 100%;
}

header #bloc_connexion{
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    text-align: right;
    background: #424242; /* Old browsers */
    background: -moz-linear-gradient(top,  #424242 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #424242 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #424242 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #424242 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #424242 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    color: #FFFFFF;
}

header #bloc_connexion a,
header #bloc_connexion a:hover{
    color: #FFFFFF;
}

header #bloc_head_centre{
    width: 100%;
    height: 130px;
    background: #8f0222; /* Old browsers */
    background: -moz-linear-gradient(top,  #8f0222 12%, #530214 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#8f0222), color-stop(100%,#530214)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8f0222 12%,#530214 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8f0222 12%,#530214 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8f0222 12%,#530214 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8f0222 12%,#530214 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0222', endColorstr='#530214',GradientType=0 ); /* IE6-9 */
}

header #bloc_head_centre #bloc_logo{
    width: 300px;
    height: 120px;
    padding: 20px;
    margin: 0 0 0 10px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
}

nav{
    padding: 10px 10px 5px 10px;
    background: #424242; /* Old browsers */
    background: -moz-linear-gradient(top,  #424242 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #424242 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #424242 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #424242 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #424242 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    color: #FFFFFF;
}

nav a,
nav a:hover{
    color: #FFFFFF;
}

nav ul{
    float: left;
}

nav li{
    display:inline-block;
    padding:0.2em 0.7em;
}

nav #autres{
    float: right;
}

nav #autres #panier{
    float: right;
}

nav #autres #form_search{
    float: left;
    margin-right: 20px;
}

nav #autres #form_search input[type="search"]{
    background-color: #555555;
    width: 250px;
    background-image: url(../img/loupe.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 3px 3px 3px 30px;
}

nav #autres #form_search input[type="submit"]{
    background: #8f0222; /* Old browsers */
    background: -moz-linear-gradient(top,  #8f0222 12%, #530214 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#8f0222), color-stop(100%,#530214)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8f0222 12%,#530214 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8f0222 12%,#530214 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8f0222 12%,#530214 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8f0222 12%,#530214 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0222', endColorstr='#530214',GradientType=0 ); /* IE6-9 */
    color: #FFFFFF;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    margin-left: 5px;
}
nav #autres #form_search input[type="submit"]:hover{
    background: #9f1232; /* Old browsers */
    background: -moz-linear-gradient(top,  #9f1232 12%, #631224 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#9f1232), color-stop(100%,#631224)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9f1232 12%,#631224 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9f1232 12%,#631224 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9f1232 12%,#631224 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9f1232 12%,#631224 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f1232', endColorstr='#631224',GradientType=0 ); /* IE6-9 */
}
/*********************************************************************************
*********************************************************************************/



/*********************************************************************************
STYLE DU FOOTER
*********************************************************************************/
footer{
    width: 100%;
    height: 200px;
    padding: 30px 20px;
    background: #530214; /* Old browsers */
    background: -moz-linear-gradient(top,  #530214 12%, #320008 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#530214), color-stop(100%,#320008)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #530214 12%,#320008 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #530214 12%,#320008 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #530214 12%,#320008 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #530214 12%,#320008 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#530214', endColorstr='#320008',GradientType=0 ); /* IE6-9 */
}

footer h4{
    color: #FFCCCC;
}

footer ul li{
    font-size: 12px;
}

footer a{
    color: #FFFFFF;
}

.liste_liens_footer.secondaire,
.liste_liens_footer.principal,
.liste_liens_footer.principal .liste_liens_principal{
    float: left;
    text-align: center;
}

.liste_liens_footer.principal{
    width: 60%
}

.liste_liens_footer.principal .liste_liens_principal{
    width: 50%
}

.liste_liens_footer.secondaire{
    width: 20%;
}
/*********************************************************************************
*********************************************************************************/




/*********************************************************************************
STYLE DE L'INDEX
*********************************************************************************/
.vendeurs{
    border:1px solid grey;
}

.list-article{
    border: 2px solid #9f1232;
    border-radius: 10px;
    padding: 10px;
    min-height: 220px;
    width: 31.3%;
    float: left;
    margin: 0 2% 1.5% 0;
}

.list-article img{
    /* float: left;*/
    width: 100%;
    margin-right: 8px;
    margin-bottom: 15px;
}

.list-article p{
    font-size: 10px;
}

.list-article .btn_details_articles{
    padding: 10px 15px;
    border-radius: 5px;
    background: #8f0222; /* Old browsers */
    background: -moz-linear-gradient(top,  #8f0222 12%, #530214 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#8f0222), color-stop(100%,#530214)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8f0222 12%,#530214 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8f0222 12%,#530214 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8f0222 12%,#530214 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8f0222 12%,#530214 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0222', endColorstr='#530214',GradientType=0 ); /* IE6-9 */
    color: #FFFFFF;
    text-decoration: none;
}

.list-article .btn_details_articles:hover{
    background: #9f1232; /* Old browsers */
    background: -moz-linear-gradient(top,  #9f1232 12%, #631224 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#9f1232), color-stop(100%,#631224)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9f1232 12%,#631224 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9f1232 12%,#631224 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9f1232 12%,#631224 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9f1232 12%,#631224 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f1232', endColorstr='#631224',GradientType=0 ); /* IE6-9 */
}
/*********************************************************************************
*********************************************************************************/





/*********************************************************************************
STYLE DE LA PAGE DE RECHERCHE
*********************************************************************************/
#bloc_contenu #tableau_search{
    width: 100%;
    border-top: 1px solid #888888;
}

#bloc_contenu #tableau_search .col_1,
#bloc_contenu #tableau_search .col_2,
#bloc_contenu #tableau_search .col_3{
    border-bottom: 1px solid #888888;
    padding: 5px 0;
}

#bloc_contenu #tableau_search .col_1{
    width: 200px;
    text-align: center;
}

#bloc_contenu #tableau_search .col_2{
    width: 62%;
}

#bloc_contenu #tableau_search .col_3{
    width: 20%;
}
/*********************************************************************************
*********************************************************************************/





/*********************************************************************************
STYLE DE LA PAGE DE LA LISTE DES ARTICLES
*********************************************************************************/
#bloc_contenu #tableau_articles{
    width: 100%;
    border-top: 1px solid #888888;
}

#bloc_contenu #tableau_articles .col_1,
#bloc_contenu #tableau_articles .col_2,
#bloc_contenu #tableau_articles .col_3{
    border-bottom: 1px solid #888888;
    padding: 5px 0;
}

#bloc_contenu #tableau_articles .col_1{
    width: 18%;
    text-align: center;
}

#bloc_contenu #tableau_articles .col_2{
    width: 62%;
}

#bloc_contenu #tableau_articles .col_3{
    width: 20%;
}
/*********************************************************************************
*********************************************************************************/





/*********************************************************************************
STYLE DE LA PAGE DES DETAILS DES ARTICLES
*********************************************************************************/
#bloc_contenu #bloc_details_article{
    min-height:150px;
    border:3px solid #8f0222;
    padding: 15px;
    margin-bottom:15px
}

#bloc_contenu #bloc_details_article #image_article{
    float: left;
}

#bloc_contenu #bloc_details_article #caracteristiques{
    width: 300px;
    float: right;
    border: 1px solid #EDEDED;
}

#bloc_contenu #bloc_details_article #caracteristiques caption{
    background-color: #EDEDED;
    text-align: center;
}

#bloc_contenu #bloc_details_article #caracteristiques .col_1{
    text-align: right;
    font-weight: bold;
    padding-right: 5px;
}

 #caracteristiques .col_2{
    text-align: left;
    padding-left: 5px;
}

.vendeurs{
    padding: 15px;
    border: 1px solid #8f0222;
}

.vendeurs .encadre_vendeur{
    margin-top: 10px;
}

.vendeurs .encadre_vendeur #tableau_liste_exemplaires{
    width: 100%;
}

.vendeurs .encadre_vendeur #tableau_liste_exemplaires td{
    padding: 0 10px;
}