*{
    padding:0;
    margin:0;
}
li{list-style-type: none;}
#menu{
    float:left;
}
#menu li{
    display:inline-block;
    padding:0.2em 0.7em;
}
.center{
    width:62em;
    margin:0 auto;
}
#panier{
    float:right;
}

.vendeurs{
    border:1px solid grey;
}
.clear{
    clear:both;
}