#tableau_vendeurs{
    width: 100%;
}

#tableau_vendeurs .col_checkbox{
    width: 3%;
}

#tableau_vendeurs .col_pseudo{
    width: 17%;
}

#tableau_vendeurs .col_zip{
    width: 15%;
    text-align: center;
}

#tableau_vendeurs .col_ville{
    width: 15%;
}

#tableau_vendeurs .col_ventes{
    width: 12%;
    text-align: center;
}

#tableau_vendeurs .col_note{
    width: 12%;
    text-align: center;
}

#tableau_vendeurs .col_liens{
    width: 26%;
}

#tableau_vendeurs tbody .col_liens{
    text-align: right;
}

#tableau_vendeurs tbody .col_liens a{
    color: #005587;
    text-decoration: none;
}

#tableau_vendeurs tbody .col_liens a:hover{
    color: #005587;
    text-decoration: underline;
}